<!DOCTYPE html>
<html>
<head>
    <title>Manage Users</title>
</head>
<body>

<h1>Manage Users:</h1>
<ul>
    {% for username, user in users.items() %}
        <li>

            {{ username }}
            <form action="/admin/manage-users/{{ username }}/lock" method="POST" style="display:inline;">
                <button type="submit">Lock</button>
            </form>

            <form action="/admin/manage-users/{{ username }}/unlock" method="POST" style="display:inline;">
                <button type="submit">Unlock</button>
            </form>

            <form action="/admin/manage-users/{{ username }}/resetpassword" method="POST" style="display:inline;">
                <input type="password" name="newpassword" placeholder="New password" required>
                <button type="submit">Reset Password</button>
            </form>

        </li>
    {% endfor %}
</ul>
<a href="/admin">
<button>Back to Admin Dashboard</button>
</a>


</body>
</html>